<!DOCTYPE html>
<html>
<head>
  <title>Cimmdp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<script>
  function openDialog(container, url) {
    $("#" + container).load(url).modal();
  }

  function formatTable(container, modal_container, model) {
    $("#" + container).DataTable({
      "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": "<button type='button' class='btn btn-primary'>Edit</button>"
        } ]
    });

    $("#" + container +" tbody").on('click', 'button', function () {
      var id = $(this).parents('tr').find('.id').text()
      openDialog(modal_container,'/' + model + '/' + id)
    } );
  }

  $(document).ready(function() {
    $('select').select2();
  });


//  $(document).ready(function(){
//    $(document).on('shown.bs.modal', '#protocol_modal', function(){
//      alert("test");
  //    $(document).find("form#new_protocol").enableClientSideValidations();
    //})
  //})
</script>
</html>
